In [ ]:
import pandas as pd

가점 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/표준분석모델_교육_전기차_남양주/건물가점_전처리.csv', engine = 'python')
건물 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/지자체_건물_전처리.csv', engine = 'python')

건물.rename(columns = {'BDTYP_CD' : '건물용도코드', 'BUL_MAN_NO' : '건물일련번호', 'GRO_FLO_CO' : '지상층수'}, inplace = True)

display(건물.head(2))
display(가점.head(2))

In [ ]:
merged = 건물.merge(가점, on = '건물용도코드')
merged = merged[['건물용도코드', '건물종류', '건물일련번호', '가점척도', '경도', '위도']]
merged.head()

In [3]:
가점개수 = len(merged['가점척도'].unique())
bd = [None] * 가점개수
# unipue를 사용해 가점척도 칼럼의 중복행을 제거한 뒤 그 개수만큼 빈 리스트를 생성해 bd로 지정

for i in range(가점개수):
    bd[i] = merged[merged['가점척도']==i]    
    bd[i].to_csv(f'C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/건물{i}.csv', index=False, sep=',', encoding='cp949')    
    display(bd[i].iloc[[0]])    # iloc는 행의 넘버를 뜻함
    
for i in range(가점개수):
    print (f"{i}점 건물수:",len(bd[i]))

   건물용도코드   건물종류  건물일련번호  가점척도          경도         위도
0    1003  다가구주택     330     0  126.652147  37.478623

      건물용도코드   건물종류  건물일련번호  가점척도          경도        위도
1946    4001  일반음식점     331     1  126.652529  37.47889

      건물용도코드 건물종류  건물일련번호  가점척도          경도         위도
4405   16001  주차장     353     2  126.662211  37.483591

      건물용도코드   건물종류  건물일련번호  가점척도          경도         위도
4286    6203  대형판매점     356     3  126.660351  37.483059

0점 건물수: 3519
1점 건물수: 3451
2점 건물수: 239
3점 건물수: 5

In [5]:
import pandas as pd

df1 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/전처리_데이터.csv', engine = 'python')
df2 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/격자_위경도.csv', engine = 'python')

display(df1.head(2))
display(df2.head(2))
display(df1.shape)
display(df2.shape)

        gid  주차장  건물1  건물2  건물3  경제인구  관공서  전기차  충전소
0  다사192446  NaN    1    0    0   NaN    0    0    0
1  다사193445  NaN    3    0    0   NaN    0    0    0

        gid          경도         위도
0  다사192446  126.586475  37.497583
1  다사193445  126.587617  37.496690

(860, 9)

(860, 3)

In [6]:
df3 = pd.merge(df1, df2, on='gid')
df3.head()

        gid  주차장  건물1  건물2  건물3  경제인구  관공서  전기차  충전소          경도         위도
0  다사192446  NaN    1    0    0   NaN    0    0    0  126.586475  37.497583
1  다사193445  NaN    3    0    0   NaN    0    0    0  126.587617  37.496690
2  다사193447  NaN    2    0    0   NaN    0    0    0  126.587596  37.498492
3  다사194445  NaN    2    0    0   NaN    0    0    0  126.588749  37.496699
4  다사194446  NaN    0    0    0   NaN    0    0    0  126.588738  37.497600

In [7]:
df3 = df3.fillna(0)
print(df3.head())
print(df3.shape)

        gid  주차장  건물1  건물2  건물3  경제인구  관공서  전기차  충전소          경도         위도
0  다사192446  0.0    1    0    0   0.0    0    0    0  126.586475  37.497583
1  다사193445  0.0    3    0    0   0.0    0    0    0  126.587617  37.496690
2  다사193447  0.0    2    0    0   0.0    0    0    0  126.587596  37.498492
3  다사194445  0.0    2    0    0   0.0    0    0    0  126.588749  37.496699
4  다사194446  0.0    0    0    0   0.0    0    0    0  126.588738  37.497600
(860, 11)

In [8]:
df3.to_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/인천광역시_동구_데이터전처리.csv', index = False, encoding = 'cp949')

In [2]:
import pandas as pd

df4 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/인천광역시_동구_전기차_버퍼.csv',
                  engine = 'python')
df4.head()

        gid  Unnamed: 1
0  다사242425         NaN
1  다사242426         NaN
2  다사242427         NaN
3  다사242428         NaN
4  다사242429         NaN

In [3]:
df4 = df4.drop(columns = ['Unnamed: 1'])
df4.head()

        gid
0  다사242425
1  다사242426
2  다사242427
3  다사242428
4  다사242429

In [4]:
df4.insert(1,'거리_전기차',1)
df4.head()

        gid  거리_전기차
0  다사242425       1
1  다사242426       1
2  다사242427       1
3  다사242428       1
4  다사242429       1

In [4]:
df4.to_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/인천광역시_동구_전기차_거리.csv', index = False, encoding = 'cp949')

In [5]:
df5 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/인천광역시_동구_전기차_버퍼.csv', encoding = 
                 'cp949')
df5.head()

        gid  Unnamed: 1
0  다사242425         NaN
1  다사242426         NaN
2  다사242427         NaN
3  다사242428         NaN
4  다사242429         NaN

In [6]:
df5 = df5.drop(columns = ['Unnamed: 1'])

In [7]:
df5.insert(1,'거리_전기차',1)
df5.head()

        gid  거리_전기차
0  다사242425       1
1  다사242426       1
2  다사242427       1
3  다사242428       1
4  다사242429       1

In [8]:
df6 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/인천광역시_동구_충전소_버퍼.csv', encoding = 
                 'cp949')
df6.head()

        gid  Unnamed: 1
0  다사252431         NaN
1  다사242418         NaN
2  다사252432         NaN
3  다사242419         NaN
4  다사252433         NaN

In [9]:
df6 = df6.drop(columns = ['Unnamed: 1'])
df6.insert(1,'거리_충전소',1)
df6.head()

        gid  거리_충전소
0  다사252431       1
1  다사242418       1
2  다사252432       1
3  다사242419       1
4  다사252433       1

In [10]:
df7 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/인천광역시_동구_데이터전처리.csv', encoding = 
                 'cp949')
df7.head()
df.shape

        gid  주차장  건물1  건물2  건물3  경제인구  관공서  전기차  충전소          경도         위도
0  다사192446  0.0    1    0    0   0.0    0    0    0  126.586475  37.497583
1  다사193445  0.0    3    0    0   0.0    0    0    0  126.587618  37.496690
2  다사193447  0.0    2    0    0   0.0    0    0    0  126.587596  37.498492
3  다사194445  0.0    2    0    0   0.0    0    0    0  126.588749  37.496699
4  다사194446  0.0    0    0    0   0.0    0    0    0  126.588738  37.497600

In [13]:
df100 = pd.merge(df7, df6, how = 'outer', on = 'gid')
df100.shape

(860, 12)

In [17]:
df200 = pd.merge(df100, df5, how = 'outer', on = 'gid')
df200.shape

(860, 13)

In [18]:
df300 = df200.fillna(0)

In [19]:
df300.sample(50)

,gid,주차장,건물1,건물2,건물3,경제인구,관공서,전기차,충전소,경도,위도,거리_충전소,거리_전기차
832,다사263425,0.0,0,0,0,0.0,0,0,0,126.667000,37.479250,0.0,0.0
361,다사237417,1.0,7,0,0,36.0,0,0,0,126.637679,37.471828,0.0,1.0
199,다사230431,1.0,5,0,0,310.0,1,1,1,126.629617,37.484388,1.0,1.0
76,다사222427,2.0,4,0,0,8.0,0,0,0,126.620611,37.480716,0.0,0.0
298,다사234439,0.0,0,0,0,0.0,0,0,0,126.634058,37.491632,0.0,0.0
515,다사242419,1.0,4,0,0,6.0,1,10,1,126.643312,37.473672,1.0,1.0
547,다사243422,0.0,34,0,0,49.0,0,0,0,126.644412,37.476384,1.0,0.0
733,다사250424,2.0,2,0,0,11.0,0,0,0,126.652308,37.478244,0.0,0.0
341,다사236426,3.0,15,0,0,22.0,0,0,0,126.636455,37.479932,1.0,1.0
767,다사252424,1.0,0,0,0,13.0,0,0,0,126.654570,37.478260,0.0,0.0
836,다사264423,0.0,0,0,0,0.0,0,0,0,126.668151,37.477455,0.0,0.0
454,다사240421,9.0,3,1,0,145.0,0,1,0,126.641030,37.475458,0.0,1.0
690,다사248430,0.0,7,0,0,10.0,0,0,0,126.649985,37.483635,0.0,1.0
17,다사214434,0.0,1,0,0,0.0,0,0,0,126.611489,37.486957,0.0,0.0
163,다사228432,0.0,0,0,0,0.0,0,0,0,126.627345,37.485273,0.0,0.0
65,다사221428,0.0,5,0,0,15.0,0,0,0,126.619470,37.481609,0.0,0.0
685,다사248425,2.0,2,0,0,23.0,0,0,0,126.650036,37.479129,1.0,1.0
497,다사241432,0.0,0,0,0,0.0,0,0,0,126.642048,37.485380,0.0,0.0
647,다사246440,0.0,0,0,0,0.0,0,0,0,126.647621,37.492632,0.0,1.0
208,다사230440,0.0,0,0,0,0.0,0,0,0,126.629523,37.492500,0.0,0.0
67,다사221430,1.0,0,2,0,29.0,0,0,0,126.619449,37.483411,0.0,1.0
292,다사234433,0.0,0,0,0,0.0,0,0,0,126.634120,37.486224,0.0,0.0
590,다사244437,0.0,0,0,0,0.0,0,0,0,126.645389,37.489911,0.0,0.0
227,다사231438,0.0,0,0,0,0.0,0,0,0,126.630675,37.490705,0.0,0.0
130,다사226430,7.0,6,2,0,60.0,1,0,1,126.625104,37.483453,1.0,1.0
260,다사233426,3.0,6,1,0,208.0,0,0,0,126.633062,37.479907,0.0,1.0
428,다사239425,0.0,0,0,0,0.0,0,0,0,126.639858,37.479055,0.0,0.0
837,다사264424,0.0,0,1,0,0.0,0,0,0,126.668141,37.478356,0.0,0.0
472,다사240439,0.0,0,0,0,0.0,0,0,0,126.640844,37.491681,0.0,0.0
26,다사216431,0.0,3,0,0,0.0,0,0,0,126.613783,37.484270,0.0,0.0
82,다사222433,0.0,1,1,0,255.0,0,0,0,126.620548,37.486124,0.0,1.0
592,다사244439,0.0,0,0,0,0.0,0,0,0,126.645369,37.491714,0.0,0.0
610,다사245430,1.0,10,0,0,0.0,0,0,0,126.646592,37.483611,0.0,1.0
281,다사234422,4.0,51,0,0,42.0,0,0,0,126.634235,37.476310,0.0,1.0
556,다사243431,0.0,6,0,0,0.0,0,0,0,126.644320,37.484496,0.0,0.0
41,다사218434,0.0,0,0,0,0.0,0,0,0,126.616013,37.486991,0.0,0.0
201,다사230433,0.0,0,0,0,0.0,0,0,0,126.629596,37.486191,0.0,0.0
222,다사231433,0.0,1,0,0,0.0,0,0,0,126.630727,37.486199,0.0,0.0
858,다사270421,0.0,0,0,0,0.0,0,0,0,126.674956,37.475700,0.0,0.0
309,다사235423,2.0,3,3,0,454.0,1,0,0,126.635355,37.477220,0.0,1.0
14,다사214431,0.0,0,0,0,0.0,0,0,0,126.611521,37.484253,0.0,0.0
709,다사249425,0.0,3,2,0,342.0,0,0,0,126.651167,37.479137,0.0,1.0
181,다사229432,5.0,4,0,0,73.0,0,0,0,126.628476,37.485281,1.0,1.0
781,다사253434,0.0,3,0,0,11.0,0,0,0,126.655599,37.487281,1.0,0.0
206,다사230438,0.0,0,0,0,0.0,0,0,0,126.629544,37.490697,0.0,0.0
246,다사232435,0.0,0,0,0,0.0,0,0,0,126.631837,37.488010,0.0,0.0
271,다사233437,0.0,0,0,0,0.0,0,0,0,126.632948,37.489821,0.0,0.0
498,다사241433,0.0,2,0,0,0.0,0,0,0,126.642037,37.486282,1.0,0.0
508,다사241443,0.0,0,0,0,0.0,0,0,0,126.641934,37.495294,0.0,0.0
394,다사238421,0.0,0,0,0,0.0,0,0,0,126.638768,37.475442,0.0,1.0

In [20]:
df300.to_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/인천광역시_동구_전기차/work2/인천광역시_동구_최종_데이터전처리.csv',
            encoding = 'cp949', index = False)

In [12]:
print(df4.shape)
print(df3.shape)

(311, 2)
(860, 11)

In [ ]:
df10 =

In [23]:
from haversine import haversine

In [24]:
df000 = df3[df3['전기차'] != 0]

In [25]:
for j in range(0, len(df3)):
    for i in range(0, len(df000)):
        lon = df3['경도'][j]
        lat = df3['위도'][j]
        lon2 = df000['경도'].reset_index(drop = True)[i]
        lat2 = df000['위도'].reset_index(drop = True)[i]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        if c <= 200:
            df3['거리_전기차']['j'] = 1

<ipython-input-25-663b3a396993>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['거리_전기차']['j'] = 1

In [29]:
df3[df3['거리_전기차'] != 0]

<ipython-input-29-4f2ea0ade23c>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3[df3['거리_전기차'] != 0]

Empty DataFrame
Columns: [gid, 주차장, 건물1, 건물2, 건물3, 경제인구, 관공서, 전기차, 충전소, 경도, 위도, 거리_전기차]
Index: []

In [31]:
function(selectedColumn){
  df0 <- df3
  df0$index <- c(1:nrow(df0))
  df1 <- subset(df0, selectedColumn == 0)
  df2 <- subset(df0, selectedColumn != 0)
  result <- ifelse(selectedColumn != 0,0,1)
  for(i in 1:nrow(df1)){
    for(j in 1:nrow(df2)){
      loc1 <- c(df1$경도[i], df1$위도[i])
      loc2 <- c(df2$경도[j], df2$위도[j])
      dist <- haversine(loc1, loc2)
      if(dist <= 0.5){
        result[df1$index[i]] <- 1
        break
      }
    }
  }
  return(result)
}(전기차)

SyntaxError: invalid syntax (<ipython-input-31-714317138c70>, line 1)

SyntaxError: invalid syntax (<ipython-input-33-4ee572e6198c>, line 1)